// cores
$color-text: #000000;
$color-text-light: #8B8B8B;
$bt: #C897E4;
$ac: #FFBC50;
$blue: #5468E7;
$dark-blue: #232340;

// Fonte
$fontf: 'SF Pro Display', sans-serif;

// tamanho fonte
$tam-p: 16px;
$tam-t: 64px;